@font-face {
    font-family: 'Bambino';
    src: url('/font/Bambino.ttf') format('truetype'); /* 'truetype' es el formato correcto */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bambino Bold';
    src: url('/font/Bambino Bold.ttf') format('truetype'); /* 'truetype' */
    font-weight: bold;
    font-style: normal;
}

body{
    background-image: url("/img/ibmv_fondo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    margin: 0;
    /*background-color: #fbf9f9ff;*/
    font-family: 'Bambino Bold', sans-serif;
}

/* Cubierta negra sobre el fondo */

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60rem;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.container {
    position: relative;
    width: 100vh;
    z-index: 2; 
    padding: 20px;
    text-align: center;
    justify-content: center;
    color: black; 
    display: flex;
}

.titulo{
    padding-top: 10%;
    position: relative;
    z-index: 2;
    justify-content: center;
    color: rgb(200, 200, 200);
    display: flex;    
}

.titulo h2{
    text-align: center;
}

.descripcion{
    position: relative;
    z-index: 2;
    justify-content: center;
    color: rgb(200, 200, 200);
    display: flex;    
}

/* ELEMENTOS DEL NAVBAR */

.navbar{
    position: relative;
    z-index: 6;
}
 
.navbar-transparent {
    background-color: rgb(200, 200, 200) !important;
    border: none;
}

.nav-item{
    width: 13%;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-collapse li{
    transition: transform 0.3s ease;
}


.navbar-collapse li:hover{
    transform: scale(1.15);
}

/* ELEMENTOS DE INICIO */

.descripcion{
    position: relative;
    z-index: 2;
    justify-content: center;
    color: rgb(200, 200, 200);
    display: flex;    
}

.descripcion p{
    color: rgb(200, 200, 200);
}

/* ELEMENTOS DE LA PÁGINA VISÍTANOS */

.direcciones{
    position: relative;
    z-index: 2;
    text-align: center;
    color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
}

.direcciones p{
    
    line-height: 1.2;
}

.contenedorimagenvisita{
    height: 100%;
    width: 100%;
}

.como_llegar{
    display: inline-flex;
    width: 90%;
    height: 90%;
}

/* ELEMENTOS DE LA PÁGINA MINISTERIOS*/

.ministerio_ninos, .ministerio_jovenes, .ministerio_adultos, .ministerio_misiones{
    position: relative;
    color: rgb(200, 200, 200);
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 25%;
    height: 20rem;
    margin-top: 5%;
}
/*
.ministerio_ninos{
    background-image: url("/img/Explora.jpg");
}

.ministerio_ninos p{
    z-index: 2;
}
.ministerio_ninos::before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background-color: rgba(13, 144, 144, 0.6);
    z-index: 1;
}
*/
.ministerio_ninos:hover{
    background-color: rgb(200, 200, 200);
    color: black;
}
.ministerio_jovenes:hover{
    background-color: rgb(200, 200, 200);
    color: black;
}
.ministerio_adultos:hover{
    background-color: rgb(200, 200, 200);
    color: black;
}
.ministerio_misiones:hover{
    background-color: rgb(200, 200, 200);
    color: black;
}


/* ELEMENTOS DE LA PÁGINA MEDIA */


/* ELEMENTOS DE LA PÁGINA DE CONTACTO */
.contacto_container{
    width: 60%;
    margin-left: 20%;
    margin-top: 15%;
    text-align: center;
    position: relative;
    z-index: 3;
}
.social_container{
    display: inline-flex;
    width: 25%;
    justify-content: center;
    position: relative;
}

.social_container a{
    text-decoration: none;
    color: rgb(200, 200, 200);
    position: relative;
}

.social{
    height: 5rem;
}


/* VERSIÓN MÓVIL */


@media only screen and (max-width: 768px){
    .navbar{
        position: relative;
        z-index: 6;
        width: 100%;
    }
    .navbar-collapse{
        position: absolute;
        margin-top: 25rem;
        z-index: 6;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);        
    }

    .navbar-collapse li{
        width: 100%;
        height: 5rem;
    }

    .titulo{
        padding-top: 20%;
        position: relative;
        z-index: 2;
        justify-content: center;
        color: rgb(200, 200, 200);
        display: flex;    
    }
    
    .titulo h2{
        text-align: center;
    }
    
    .ministerio_ninos, .ministerio_jovenes, .ministerio_adultos, .ministerio_misiones{
        width: 100%;
        flex-direction: column;
    }
    .contacto_container{
        width: 60%;
        margin-left: 20%;
        margin-top: 5%;
        text-align: center;
        position: relative;
        z-index: 3;
    }

    .social_container{
        display: block;
        width: 100%;
        justify-content: center;
        position: relative;
        margin-bottom: 2rem;
    }

    .social{
        height: 4rem;
    }
    
}