@font-face {
    font-family: 'Bambino';
    src: url('/font/Bambino.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bambino Bold';
    src: url('/font/Bambino Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

body{
    background-color: #fbf9f9ff;
    font-family: 'Bambino Bold';
}


/* ELEMENTOS DEL NAVBAR */

.navbar-transparent {
    background-color: transparent !important;
    border: none;
}

.nav-item{
    width: 13%;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
  
/* ELEMENTOS DE LA PÁGINA DE CONTACTO */
.contacto_container{
    width: 60%;
    margin-left: 20%;
    margin-top: 15%;
    text-align: center;
}
.social_container{
    display: inline-flex;
    width: 25%;
    justify-content: center;
}

.social_container a{
    text-decoration: none;
    color: inherit;
}

.social{
    height: 5rem;
}

